// Скопируй этот файл в include/credentials.h
// и заполни своими данными
// НЕ добавляй include/credentials.h в Git!

#pragma once

#define WIFI_SSID     "your_wifi_name"
#define WIFI_PASSWORD "your_wifi_password"